*.o
*.ko
*.mod.c
*.mod
*.cmd
*.d
!scripts/nscscc/initramfs-overlay/etc/init.d/
!scripts/nscscc/initramfs-overlay/etc/init.d/**
.tmp_*
vmlinux
vmlinux.bin
System.map
Module.symvers
modules.order
!.gitignore
