*.o
*.ko
*.mod.c
*.mod
*.cmd
*.d
!scripts/nscscc/initramfs-overlay/etc/init.d/
!scripts/nscscc/initramfs-overlay/etc/init.d/**
.tmp_*
.omo/
state/
.checkpatch-camelcase.git.*
README
vmlinux
vmlinux.bin
System.map
Module.symvers
modules.order
test/ue11h-datax/ue11h-datax-harness
!.gitignore
